

.card-title {
    font-family: 'Monoton', cursive;
    font-size: 40px !important;
    margin-left: 50px;
    margin-top: 50px;
}

.weather-card {
    font-family: 'Barlow Semi Condensed', sans-serif;
}
/* .input-body, .panel-body {
    background-color: white;
} */

.table {
    margin-bottom: 20px;
    clear: both;
    padding: 10px;
    margin-left: 40px !important;
}
.card-action {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px !important;
    color: midnightblue !important;
    margin: 60px;
}
label {
    color: black !important;
    font-size: 20px !important;
}
.input-field {
    color: black;
}

h3 {
    margin: 80px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border-bottom: 1px solid black;
}

input {
    color: black;
}

.submit {
    float: left;
    margin-top: 30px;
}

.waves-effect {
    background-color: darkgray;
    float: left;
}

body {
    background: url(../sky_background.jpg);
    bottom: 0;
    left: 0;
    /*display: flex;*/
    min-height: 100vh;
    flex-direction: column;
    background-attachment: fixed;
}

.active {
    font-size: 20px !important;
}

.main {
    margin-top: 50px;
    flex: 1 0 auto;
}

.index-container {
    min-height: 100%;
}

.weather {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 25px;
    font-size: 30px !important;
    font-stretch: narrower;

}
.horizontal {
    background-color: slategray;
    font-family: 'Barlow Semi Condensed', sans-serif;
    opacity: 0.6;
    height: 100px;
}

.panel-table {
    margin: 60px;
}

.btn-floating {
    float: right;
}

footer {
    background-color: darkslategray !important;
    opacity: 0.4;
    margin-top: -50px;
    clear: both;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}
.weather-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.weather-card {
    opacity: 0.6;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
}
.location {
    font-size: 15px !important;
}