.card-title {
    font-family: 'Monoton', cursive;
    font-size: 60px !important;
    margin-left: 50px;
    margin-top: 50px;
}

.table {
    margin-bottom: 20px;
    clear: both;
    padding: 10px;
    margin-left: 40px !important;
}

.card-action {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px !important;
    color: midnightblue !important;
    margin: 60px;
}

label {
    color: black !important;
    font-size: 40px !important;
}

.input-field {
    color: black;
    margin-left: 45px !important;
}

.validate {
    margin-top: 45px !important;
    color: black;
}

h3 {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border-bottom: 1px solid black;
}

h4 {
    margin-left: 100px;
    margin-right: 105px !important;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
}

input {
    color: black;
}

.submit {
    float: left;
    margin-top: 30px;
}

.waves-effect {
    background-color: darkgray;
    float: left;
}

body {
    background: url(../images/sky_background.jpg);
    bottom: 0;
    left: 0;
    min-height: 100vh;
    flex-direction: column;
    background-attachment: fixed;
}

.active {
    font-size: 20px !important;
}

.main {
    margin-top: 50px;
    flex: 1 0 auto;
}

.index-container {
    min-height: 100%;
}

.weather {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 25px;
    font-size: 30px !important;
    font-stretch: narrower;

}
.horizontal {
    background-color: slategray;
    font-family: 'Barlow Semi Condensed', sans-serif;
    opacity: 0.6;
    height: 100px;
}

.panel-table {
    margin: 60px;
}

.btn-floating {
    float: right;
}

footer {
    background-color: darkslategray !important;
    opacity: 0.4;
    margin-top: -50px;
    clear: both;
    bottom: 0;
    width: 100%;
    margin-bottom: -150px !important;
}

.current-weather {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    padding-left: 15px;
    display: flex;
}

.weather-title, .event-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    color: white;
}

.weather-card {
    font-family: 'Barlow Semi Condensed', sans-serif;
    opacity: 0.6;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.location {
    font-size: 20px !important;

}

#weather-table {
    margin-right: 90px;
    margin-left: 0px;
    width: 80%;
    color: black;
}

#event-list {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-left: 50px !important;
    width: 90%;
    color: black;

}

#events, #location-weather, .event-name {
    color: black !important;

}

thead {
    font-weight: bold !important;
    font-size: 20px !important;
}

.card {
    padding-top: 10px !important;
}

.openWeatherIMG {
    width: 200px;
}

.placeholder:first-child {
    height: 50px;
}
.placeholder {
    height: 150px;
}